.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/releases
!.yarn/versions

.DS_STORE
node_modules
*.pyc
dist
*.log*
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo